<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="test_POST_GET" verbose="1" >
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
    </listeners>

    <test name="test" >
        <classes>
            <class name="dins.com.userPost.TestUserPost">
                    <methods>
                        <parameter name="requiredField" value="firstName"/>
                        <parameter name="valueField" value="Alex"/>
                        <parameter name="nonRequiredField" value="lastName"/>
                        <include name="testPostCreateUserWithRequiredFieldPositive"/>
                        <include name="testPostCreateUserWithNonRequiredFieldNegative"/>
                    </methods>
            </class>
            <class name="dins.com.userGet.TestUserGet">
                <methods>
                    <parameter name="id" value="a"/>
                    <include name="testGetGetUsersPositive"/>
                    <include name="testGetGetUsersByIdNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
